.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
}
